body {
    font-family:comic sans ms;
    font-size: 50px;
    background-color: DimGrey;
}
table{
        border:4px dashed DarkGray;
        border-collapse: collapse;
        width:1000px;
        text-align: center;
        height:300px;
}
td{
    border: dashed 4px DarkGray;
    border-collapse:collapse;  
}
header{
    background-color: Silver;
    height: 300px;
    margin-top: 0px;
    margin-bottom: 40px;
}
h1{
    padding-top: 100px;
    padding-left: 200px;
}
